*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #354463
}

img {
    width: 100%;
}

button {
    padding: 8px 16px;
    border-radius: 1rem;
    border: transparent;
}

li {
    list-style: none;
    font-size: 0.8rem;
    padding: 4px;
}

.header_lift {
    position: relative;
    padding: 10px 20px;
    bottom: 20px;
}

.header_drop {
    position: relative;
    padding: 10px 20px;
    top: 20px;
}

.padding_8 {
    padding: 0 8% 20px;
}

.txt_align_center {
    text-align: center;
}

.footer {
    padding-top: 60px;
}

.footer_ele1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.footer_ele1_header {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer_ele1_body {
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.footer_ele1_body_ele {
    font-size: 0.7rem;
}

.footer_ele1_body_ele>li {
    font-size: 0.7rem;
    text-decoration: underline;
}

.footer_ele2 {
    display: flex;
    justify-content: right;
    padding: 40px 0 20px 0;
}

.footer_ele2>p {
    width: 70%;
    font-family: flood std;
    font-size: 2.5rem;
    text-align: right;
}

@media (min-width: 901px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        padding-bottom: 50px;
    }

    .footer_ele1 {
        display: flex;    
    }

    .footer_ele1>div {
        flex-basis: 100%;
    }

    .footer_ele1_body {
        border-bottom: solid black 1px;
        width: 90%;
    }

    .footer_ele1_body_ele {
        padding-top: 8px;
    }

    .footer_ele2 {
        padding: 0;
    }

}